@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Regular.ttf)
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-weight: 500 600 700 800 900;
  src: url(/fonts/Montserrat-Bold.ttf)
}

* {
  margin-bottom: 0;
  margin-top: 0
}

*+* {
  margin-top: 1.6em
}

codepen-embed,
pwc-tab,
pwc-tab-list,
pwc-tab-panel,
pwc-tabs {
  display: block
}

html {
  background: #d3dbde
}

body {
  background: #fff;
  font-family: Montserrat, Futura, Century Gothic, AvantGarde Bk BT, AvantGarde Md BT, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  max-width: 48em;
  margin: 0 auto;
  padding: 1.6em
}

a {
  color: #037cb4
}

a:visited {
  color: #005e8a
}

a:active,
a:focus,
a:hover {
  color: #c8541e
}

@media print {
  a[href]:after {
    content: " ("attr(href) ")"
  }

  a[href^="/"]:after {
    content: " (http://evanminto.com"attr(href) ")"
  }

  a[href=""]:after {
    content: none
  }
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: center center;
  object-fit: center center
}

pre {
  background: #000;
  color: #fff;
  overflow-x: auto
}

@media print {
  pre {
    background: none;
    color: inherit
  }
}

a code,
pre code {
  color: inherit
}

pre code {
  display: block;
  font-weight: inherit;
  min-width: -webkit-max-content;
  min-width: max-content;
  padding: .8em
}

.a-svg-icon {
  fill: currentColor;
  display: inline-block;
  height: 2em;
  vertical-align: middle
}

.a-svg-icon__alt-color {
  fill: #fff
}

.a-skip-link {
  box-sizing: border-box;
  display: block;
  margin: 0;
  max-width: none;
  position: absolute;
  text-align: center;
  top: -5em
}

.a-skip-link:focus,
.a-skip-link:hover {
  position: static;
  width: 100%
}

.a-social-link {
  display: inline-block;
  font-weight: 400;
  text-decoration: none
}

.a-social-link .a-svg-icon {
  margin-right: .125ch
}

.m-navbar ul {
  font-weight: bolder;
  list-style-type: none;
  padding: 0
}

.m-navbar ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.m-navbar li {
  float: left;
  margin: 0 1.6em 0 0
}

.m-logo-list {
  list-style: none;
  padding: 0
}

.m-logo-list a {
  display: inline-block
}

.m-social-list {
  list-style: none;
  padding: 0
}

@media print {
  .o-site-header a:after {
    content: ""
  }

  .o-site-header .m-navbar {
    display: none
  }
}

.l-grid {
  list-style: none;
  padding: 0
}

@supports (--foo:bar) {
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @-webkit-keyframes box-shadow-hard-party-expand {
    0% {
      box-shadow: var(--box-shadow-hard-party-closed)
    }

    50% {
      box-shadow: var(--box-shadow-hard-party-closed)
    }

    to {
      box-shadow: var(--box-shadow-hard-party)
    }
  }

  @keyframes box-shadow-hard-party-expand {
    0% {
      box-shadow: var(--box-shadow-hard-party-closed)
    }

    50% {
      box-shadow: var(--box-shadow-hard-party-closed)
    }

    to {
      box-shadow: var(--box-shadow-hard-party)
    }
  }

  * {
    --flow-gap: var(--space-md);
    margin-bottom: 0;
    margin-top: 0
  }

  *,
  :after,
  :before {
    box-sizing: border-box
  }

  *+* {
    --flow-gap-self: var(--flow-gap);
    margin-top: var(--flow-gap-self)
  }

  :root {
    --color-h-blue: 199;
    --color-h-orange: calc(var(--color-h-blue) - 180);
    --color-blue: hsl(var(--color-h-blue), 100%, 31%);
    --color-blue-dark: hsl(var(--color-h-blue), 100%, 12.9%);
    --color-orange: hsl(var(--color-h-orange), 72%, 50%);
    --color-orange-dark: hsl(var(--color-h-orange), 72%, 35%);
    --color-off-white: hsl(var(--color-h-blue), 20%, 93%);
    --color-white: #fff;
    --color-black: hsl(var(--color-h-orange), 50%, 7%);
    --color-shadow: hsla(var(--color-h-orange), 50%, 7%, 0.167);
    --color-link: var(--color-orange);
    --color-link-hover: var(--color-orange-dark);
    --color-link-focus: var(--color-link-hover);
    --color-link-active: var(--color-link-hover);
    --color-link-decoration: currentColor;
    --font-family-monospace: monospace;
    --font-scale: 1.25;
    --font-size-md: calc(0.9rem + 0.2vw + 0.2vh);
    --font-size-sm: calc(var(--font-size-md)/var(--font-scale));
    --font-size-lg: calc(var(--font-size-md)*var(--font-scale));
    --font-size-xl: calc(var(--font-size-lg)*var(--font-scale));
    --font-size-xxl: calc(var(--font-size-xl)*var(--font-scale));
    --font-size-smaller: calc(1em/var(--font-scale));
    --font-size-larger: calc(1em*var(--font-scale));
    --measure: 80ch;
    --line-height: 1.667;
    --space-md: calc(var(--line-height)*var(--font-size-md));
    --space-sm: calc(var(--space-md)/2);
    --space-xs: calc(var(--space-sm)/2);
    --space-xxs: calc(var(--space-xs)/2);
    --space-lg: calc(var(--space-md)*2);
    --space-xl: calc(var(--space-lg)*2);
    --space-xxl: calc(var(--space-xl)*2);
    --border-width-sm: 0.0625rem;
    --border-white-sm: 0.125rem solid var(--color-white);
    --border-radius-md: 0.25rem;
    --border-radius-lg: 1rem;
    --border-radius-xxl: 4rem;
    --border-radius-convex-down: 0 0 100% 100%/0 0 calc(10px + 5vw) calc(10px + 5vw);
    --border-radius-convex-up: 100% 100% 0 0/calc(10px + 5vw) calc(10px + 5vw) 0 0;
    --box-shadow-inner-bottom: 0 -5rem 15rem rgba(0, 0, 0, 0.5) inset;
    --box-shadow-inner-top: 0 2.5rem 7.5rem rgba(0, 0, 0, 0.5) inset;
    --box-shadow-hard: var(--space-xs) var(--space-xs) var(--color-blue-dark);
    --box-shadow-hard-sm: var(--space-xxs) var(--space-xxs) var(--color-blue-dark);
    --box-shadow-hard-party-closed: 0 0 var(--color-blue-dark), 0 0 var(--color-orange), 0 0 var(--color-blue), 0 0 var(--color-orange-dark);
    --box-shadow-hard-party: calc(2.25*var(--space-xs)) calc(2.25*var(--space-xs)) var(--color-blue-dark), calc(1.75*var(--space-xs)) calc(-1*var(--space-xs)) var(--color-orange), calc(-2.5*var(--space-xs)) calc(-1.5*var(--space-xs)) var(--color-blue), calc(-2.5*var(--space-xs)) calc(3*var(--space-xs)) var(--color-orange-dark);
    --timing-function-bounce: cubic-bezier(.54, .47, .34, 2.32);
    --duration-x-short: 125ms;
    --duration-short: 250ms;
    --duration-medium: 400ms;
    --duration-long: 850ms;
    --content-max-width-sm: calc(var(--space-md)*28);
    --content-max-width: calc(var(--space-md)*40);
    --content-max-width-lg: calc(var(--space-md)*48)
  }

  @media only screen and (min-width:40em) {
    :root {
      --font-scale: 1.333
    }
  }

  @media only print {
    :root {
      --font-size-md: 1rem
    }
  }

  html {
    background: var(--color-blue-dark)
  }

  body {
    background: var(--color-off-white);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: var(--font-size-md);
    line-height: var(--line-height);
    margin: 0;
    max-width: none;
    min-height: 100vh;
    padding: 0
  }

  @media only print {
    body {
      display: block
    }
  }

  *+article,
  *+footer,
  *+header,
  *+main,
  *+section {
    --flow-gap: var(--space-md);
    border-top: 0;
    margin-top: var(--flow-gap);
    padding-top: 0
  }

  body>* {
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--space-md)
  }

  body>*+* {
    --flow-gap: var(--space-lg)
  }

  main {
    margin-bottom: auto;
    max-width: var(--content-max-width);
    padding: 0 var(--space-md);
    width: 100%
  }

  main>*+* {
    --flow-gap: var(--space-xl)
  }

  main>.l-switcher {
    --breakpoint: calc(0.75*var(--content-max-width));
    --flow-gap-block: var(--space-xl);
    --size-1: 1;
    --size-2: 1;
    -webkit-box-align: center;
    align-items: center
  }

  main>h1:first-child~* {
    --flow-gap: var(--space-md);
    --flow-gap-self: var(--space-lg)
  }

  main>h1:first-child+*,
  main>h1:first-child~p+p {
    --flow-gap-self: var(--space-md)
  }

  small {
    font-size: var(--font-size-smaller)
  }

  p {
    max-width: var(--measure)
  }

  p strong {
    color: var(--color-blue-dark)
  }

  article,
  aside,
  div,
  footer,
  header,
  p,
  section {
    padding-left: var(--gutter);
    padding-right: var(--gutter)
  }

  img {
    -o-object-position: var(--focal-point, center);
    object-position: var(--focal-point, center)
  }

  h1,
  h2,
  h3 {
    line-height: 1.333
  }

  h1 {
    font-size: var(--font-size-xxl)
  }

  h2 {
    font-size: var(--font-size-xl)
  }

  h3 {
    font-size: var(--font-size-lg)
  }

  h1 a,
  h2 a,
  h3 a {
    display: block;
    font-weight: inherit
  }

  ul {
    --list-before-content: "";
    list-style: none;
    padding-left: var(--space-md)
  }

  ul>* {
    --flow-gap: var(--space-sm);
    padding-left: var(--space-sm);
    position: relative
  }

  ul>:before {
    --size: 0.5em;
    content: var(--list-before-content);
    display: block;
    height: var(--size);
    width: var(--size);
    background: var(--color-blue);
    border-radius: 100%;
    position: absolute;
    left: calc(-0.25*var(--space-md)/2 - var(--size)/2);
    top: calc(var(--space-md)/2 - var(--size)/2 + .0625em)
  }

  a {
    --padding-link: var(--space-xxs);
    padding: var(--padding-link);
    margin: calc(-1*var(--padding-link));
    -webkit-text-decoration-color: var(--color-link-decoration);
    text-decoration-color: var(--color-link-decoration);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out;
    transition: color var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out;
    transition: color var(--duration-x-short) ease-out, transform var(--duration-x-short) ease-out;
    transition: color var(--duration-x-short) ease-out, transform var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out
  }

  a,
  a:visited {
    color: var(--color-link)
  }

  a:visited {
    opacity: .85
  }

  a:focus {
    color: var(--color-link-focus);
    opacity: 1
  }

  a:hover {
    color: var(--color-link-hover);
    opacity: 1;
    -webkit-transform: translateY(-.125rem);
    transform: translateY(-.125rem)
  }

  a:active {
    color: var(--color-link-active);
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  @media only print {
    a[href]:after {
      font-family: var(--font-family-monospace);
      font-size: var(--font-size-smaller)
    }
  }

  code {
    font-weight: 600
  }

  pre {
    background: var(--color-black);
    border-radius: var(--border-radius-md);
    color: var(--color-white)
  }

  @media print {
    pre {
      background: none;
      border: var(--border-width-sm) solid;
      color: inherit;
      overflow: hidden;
      white-space: pre-wrap
    }

    pre code {
      min-width: 0
    }
  }

  pre code {
    padding: var(--space-md)
  }

  :focus {
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-focus, 0 0 0 .125rem currentColor);
    outline: 0
  }

  ::-moz-focus-inner {
    border: 0
  }

  .js-focus-visible :focus:not(.focus-visible) {
    box-shadow: none
  }

  codepen-embed,
  pwc-tab,
  pwc-tab-list,
  pwc-tab-panel,
  pwc-tabs {
    display: block
  }

  pwc-tab-list:defined {
    display: -webkit-box;
    display: flex
  }

  pwc-tab-list:defined ul {
    --list-before-content: none;
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow-focus, 0 0 0 transparent), var(--box-shadow-hard);
    display: block;
    overflow: hidden;
    padding: 0;
    width: 100%
  }

  pwc-tab-list:defined ul>* {
    margin: 0;
    padding: 0
  }

  pwc-tab-list:defined:focus-within ul {
    --box-shadow-focus: 0 0 0 0.125rem var(--color-orange)
  }

  pwc-tab-list:defined:focus-within :focus {
    box-shadow: none
  }

  pwc-tab:defined {
    background: none
  }

  pwc-tab:defined a {
    background: var(--color-white);
    margin: 0;
    padding: var(--space-xxs) var(--space-sm);
    -webkit-transition: background-color var(--duration-short) ease-in-out, color var(--duration-short) ease-in-out;
    transition: background-color var(--duration-short) ease-in-out, color var(--duration-short) ease-in-out
  }

  pwc-tab:defined a:focus,
  pwc-tab:defined a:hover {
    border-radius: 0;
    position: relative;
    -webkit-transform: none;
    transform: none;
    z-index: 1
  }

  pwc-tab:defined[selected] a {
    background: var(--color-orange);
    color: var(--color-white)
  }

  pwc-tab-panel:defined {
    display: none
  }

  pwc-tab-panel:defined[selected] {
    -webkit-animation: fade-in var(--duration-medium) ease-in-out;
    animation: fade-in var(--duration-medium) ease-in-out;
    display: block
  }

  pwc-tab-panel:defined>section>h1,
  pwc-tab-panel:defined>section>h2,
  pwc-tab-panel:defined>section>h3,
  pwc-tab-panel:defined>section>h4,
  pwc-tab-panel:defined>section>h5,
  pwc-tab-panel:defined>section>h6 {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
  }

  pwc-tab-panel:defined>section>h1+*,
  pwc-tab-panel:defined>section>h2+*,
  pwc-tab-panel:defined>section>h3+*,
  pwc-tab-panel:defined>section>h4+*,
  pwc-tab-panel:defined>section>h5+*,
  pwc-tab-panel:defined>section>h6+* {
    --flow-gap-self: 0
  }

  @media (min-width:40em) {
    pwc-tab-list:defined ul {
      border-radius: 20rem;
      display: -webkit-box;
      display: flex;
      width: auto
    }

    pwc-tab:defined a {
      border-color: var(--color-orange);
      border-style: solid;
      border-width: .0625rem 0
    }

    pwc-tab-list:defined ul>:first-child pwc-tab:defined a {
      border-left-width: .0625rem;
      border-radius: 20rem 0 0 20rem;
      padding-left: calc(var(--space-sm)*1.25)
    }

    pwc-tab-list:defined ul>:last-child pwc-tab:defined a {
      border-radius: 0 20rem 20rem 0;
      border-right-width: .0625rem;
      padding-right: calc(var(--space-sm)*1.25)
    }

    pwc-tab-panel:defined {
      margin: calc(0.5*var(--flow-gap)) calc(-0.5*var(--flow-gap));
      padding: calc(0.5*var(--flow-gap))
    }
  }

  .l-stack {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: calc(-1*var(--flow-gap))
  }

  .l-stack>* {
    margin: 0;
    margin-bottom: var(--flow-gap)
  }

  .l-switcher {
    --breakpoint: 30rem;
    --flow-gap-block: var(--flow-gap);
    --flow-gap-inline: var(--flow-gap);
    --size-1: 1;
    --size-2: 1;
    --size-3: 1;
    --size-4: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*var(--flow-gap-inline));
    margin-bottom: calc(-1*var(--flow-gap-block))
  }

  .l-switcher>* {
    -webkit-box-flex: 1;
    flex: 1 1 calc((var(--breakpoint) - 100%)*9999);
    margin: 0 0 var(--flow-gap-block) var(--flow-gap-inline)
  }

  .l-switcher>:first-child {
    -webkit-box-flex: var(--size-1);
    flex-grow: var(--size-1)
  }

  .l-switcher>:nth-child(2) {
    -webkit-box-flex: var(--size-2);
    flex-grow: var(--size-2)
  }

  .l-switcher>:nth-child(3) {
    -webkit-box-flex: var(--size-3);
    flex-grow: var(--size-3)
  }

  .l-switcher>:nth-child(4) {
    -webkit-box-flex: var(--size-4);
    flex-grow: var(--size-4)
  }

  .l-switcher__standalone {
    -webkit-box-flex: 1;
    flex: 1 1 100%
  }

  .l-cloud {
    --list-before-content: none;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: calc(-1*var(--flow-gap-inline));
    margin-bottom: calc(-1*var(--flow-gap-block));
    padding: 0
  }

  .l-cloud>* {
    margin-left: var(--flow-gap-inline);
    margin-bottom: var(--flow-gap-block)
  }

  .l-grid {
    --list-before-content: none;
    display: -ms-grid;
    display: grid;
    grid-gap: var(--flow-gap);
    grid-template-columns: repeat(auto-fill, minmax(calc(20% + 8rem), 1fr))
  }

  .l-grid>* {
    height: 100%;
    margin: 0;
    padding: 0
  }

  .a-svg-icon {
    height: var(--font-size-larger)
  }

  .a-svg-icon__alt-color {
    fill: var(--svg-alt-color, currentColor)
  }

  .a-callout-box {
    background: #fff;
    border: .0625rem solid var(--color-blue-dark);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-hard);
    padding: var(--space-md)
  }

  .a-attention-box {
    background: var(--color-light);
    border: .5rem solid var(--color-orange-dark);
    color: var(--color-orange-dark);
    padding: var(--space-sm)
  }

  .a-attention-box strong:first-of-type {
    color: inherit;
    letter-spacing: .05ch;
    text-transform: uppercase
  }

  .a-skip-link {
    background: var(--color-white);
    border-radius: 0;
    padding: var(--space-xs) var(--space-md);
    text-shadow: none
  }

  .a-social-link {
    display: inline-block;
    font-weight: 400;
    text-decoration: none
  }

  .a-social-link .a-svg-icon {
    margin-right: .125ch
  }

  .a-logo-link {
    letter-spacing: .125ch;
    text-decoration: none;
    text-transform: uppercase
  }

  .a-nav-link {
    display: block;
    text-decoration: none
  }

  .a-logo-link,
  .a-nav-link {
    display: block;
    font-weight: 400;
    position: relative
  }

  .a-logo-link[aria-current=page]:after,
  .a-nav-link[aria-current=page]:after {
    border-top: .125rem solid var(--color-orange);
    bottom: var(--space-xxs);
    content: "";
    display: block;
    left: var(--padding-link);
    position: absolute;
    width: calc(100% - 2*var(--padding-link))
  }

  .a-call-to-action-link {
    background: var(--color-blue);
    border-radius: 4em;
    box-shadow: var(--box-shadow-hard);
    color: var(--color-white);
    display: block;
    font-weight: 300;
    margin: 0;
    max-width: -webkit-max-content;
    max-width: max-content;
    padding: var(--space-sm) var(--space-lg);
    text-align: center;
    text-decoration: none
  }

  *+.a-call-to-action-link {
    margin-top: var(--flow-gap)
  }

  .a-call-to-action-link:after {
    content: var(--icon, "â¯");
    left: 0;
    margin-left: .75ch;
    position: relative;
    -webkit-transition: left var(--duration-x-short) ease-out;
    transition: left var(--duration-x-short) ease-out
  }

  .a-call-to-action-link:visited {
    background: #005e8a;
    color: #fff
  }

  .a-call-to-action-link:active,
  .a-call-to-action-link:focus,
  .a-call-to-action-link:hover {
    background: #c8541e;
    color: #fff
  }

  .a-call-to-action-link:active:after,
  .a-call-to-action-link:focus:after,
  .a-call-to-action-link:hover:after {
    left: .25ch
  }

  .a-headshot {
    border-radius: var(--headshot-size, 15rem);
    height: var(--headshot-size, 15rem);
    max-height: 30vh;
    max-width: 30vh;
    width: var(--headshot-size, 15rem)
  }

  .a-headshot--emphasized {
    -webkit-animation: box-shadow-hard-party-expand var(--duration-medium) var(--timing-function-bounce);
    animation: box-shadow-hard-party-expand var(--duration-medium) var(--timing-function-bounce);
    box-shadow: var(--box-shadow-hard-party);
    will-change: box-shadow
  }

  .a-content-block>* {
    --flow-gap-block: var(--space-md)
  }

  .a-content-block>.a-call-to-action-link:only-child {
    margin-left: auto;
    margin-right: auto
  }

  .a-title-prefix {
    font-size: var(--font-size-smaller);
    font-weight: 400
  }

  .a-client-logo {
    --color-link: var(--color-blue-dark);
    --color-link-hover: var(--color-blue);
    --color-link-focus: var(--color-blue);
    --color-link-active: var(--color-blue);
    display: block;
    margin: calc(-1*var(--space-sm));
    opacity: .667;
    padding: var(--space-sm);
    position: relative;
    -webkit-transition: color var(--duration-x-short) ease-out, opacity var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out;
    transition: color var(--duration-x-short) ease-out, opacity var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out;
    transition: color var(--duration-x-short) ease-out, opacity var(--duration-x-short) ease-out, transform var(--duration-x-short) ease-out;
    transition: color var(--duration-x-short) ease-out, opacity var(--duration-x-short) ease-out, transform var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out
  }

  .a-client-logo__inner {
    display: block;
    -webkit-mask-image: var(--src);
    mask-image: var(--src);
    -webkit-mask-size: cover;
    mask-size: cover
  }

  .a-client-logo img {
    max-height: 4em;
    max-width: 12em
  }

  @supports ((-webkit-mask-image:var(--src)) or (mask-image:var(--src))) and ((-webkit-mask-size:cover) or (mask-size:cover)) {
    .a-client-logo__inner:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: currentColor
    }
  }

  .m-logo-list {
    -webkit-box-pack: center;
    justify-content: center
  }

  .m-logo-list a {
    display: block
  }

  .m-logo-list img {
    max-height: calc(var(--space-lg)*2);
    max-width: calc(var(--space-lg)*3)
  }

  .m-social-list {
    --list-before-content: none;
    text-align: left
  }

  .m-social-list>* {
    --flow-gap: var(--space-md);
    margin: calc(var(--flow-gap)/2);
    padding: 0
  }

  @media (min-width:45em) {
    .m-social-list {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center
    }
  }

  .m-navbar ul {
    --list-before-content: none;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center
  }

  .m-navbar ul>* {
    --flow-gap: var(--space-md);
    margin: calc(var(--flow-gap)/4) calc(var(--flow-gap)/2);
    padding: 0
  }

  .m-navbar ul>:last-child {
    margin-right: 0
  }

  .m-card {
    --box-shadow-1: 0 0 0 transparent;
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-1), var(--box-shadow-hard);
    height: 100%;
    position: relative
  }

  .m-card a,
  .m-card button {
    position: relative;
    z-index: 2
  }

  .m-card a {
    position: var(--card-link-position, relative)
  }

  .m-card h1,
  .m-card h2,
  .m-card h3,
  .m-card h4,
  .m-card h5,
  .m-card h6 {
    --card-link-pseudo-content: "";
    --card-link-position: static;
    font-size: var(--font-size-lg)
  }

  .m-card h1 a,
  .m-card h2 a,
  .m-card h3 a,
  .m-card h4 a,
  .m-card h5 a,
  .m-card h6 a {
    display: block;
    text-decoration: none;
    -webkit-transform: none;
    transform: none
  }

  .m-card a:after {
    content: var(--card-link-pseudo-content);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    margin: 0
  }

  .m-card:focus-within {
    --box-shadow-1: 0 0 0 0.125rem var(--color-orange-dark);
    --box-shadow-focus: 0 0 0 transparent
  }

  .m-blog-cta:after,
  .m-blog-cta:before {
    content: "";
    display: table
  }

  .m-blog-cta:after {
    clear: both
  }

  .m-blog-cta>* {
    --flow-gap: var(--space-sm)
  }

  .m-blog-cta>img {
    margin-left: auto;
    margin-right: auto
  }

  @media only screen and (min-width:40em) {
    .m-blog-cta>img {
      float: left;
      margin-bottom: var(--flow-gap);
      margin-right: var(--space-md);
      shape-margin: var(--space-md);
      shape-outside: border-box
    }

    .m-blog-cta>img+h1,
    .m-blog-cta>img+h2,
    .m-blog-cta>img+h3,
    .m-blog-cta>img+h4,
    .m-blog-cta>img+h5,
    .m-blog-cta>img+h6 {
      --flow-gap: 0
    }

    @supports (shape-outside:border-box) {
      .m-blog-cta>img~* {
        padding-left: var(--space-xl)
      }
    }
  }

  .m-about-me {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(var(--space-md)*18);
    text-align: center
  }

  .m-about-me>* {
    --flow-gap: var(--space-sm)
  }

  .m-about-me h1 {
    --flow-gap: var(--space-md);
    margin-top: var(--flow-gap)
  }

  .m-about-me .a-headshot {
    --flow-gap: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-ordinal-group: 0;
    order: -1
  }

  .m-summary {
    --padding-v: var(--space-md, 0);
    --padding-h: var(--space-md, 0);
    background: var(--color-white);
    border-radius: var(--border-radius-md);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: var(--font-size-sm);
    height: 100%;
    padding: var(--padding-v) var(--padding-h);
    position: relative;
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: box-shadow var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out;
    transition: box-shadow var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out;
    transition: box-shadow var(--duration-x-short) ease-out, transform var(--duration-x-short) ease-out;
    transition: box-shadow var(--duration-x-short) ease-out, transform var(--duration-x-short) ease-out, -webkit-transform var(--duration-x-short) ease-out
  }

  .m-summary:hover {
    -webkit-transform: translate(calc(-1*var(--space-xs)), calc(-1*var(--space-xs)));
    transform: translate(calc(-1*var(--space-xs)), calc(-1*var(--space-xs)));
    box-shadow: var(--box-shadow-hard)
  }

  .m-summary>* {
    --flow-gap-self: var(--space-xs)
  }

  .m-summary a {
    display: block;
    text-decoration: none;
    -webkit-transform: none;
    transform: none
  }

  .m-summary h3 {
    font-size: var(--font-size-lg)
  }

  .m-summary a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .m-summary__subtitle {
    --flow-gap: 0;
    color: var(--color-blue);
    font-size: 1.5ex;
    letter-spacing: .025ch;
    margin-top: calc(-1*var(--space-xs));
    text-transform: uppercase
  }

  .m-summary>header {
    color: var(--color-blue);
    font-size: var(--font-size-smaller)
  }

  .m-summary>.l-stack,
  .m-summary>.l-stack>*,
  .m-summary>header>* {
    --flow-gap: var(--space-xs)
  }

  .m-summary>.l-stack>img {
    --flow-gap: var(--space-md)
  }

  .m-summary>header>:last-child {
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0
  }

  .m-summary img {
    --focal-point: top;
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
    height: calc(var(--space-md)*7);
    margin-top: 0;
    margin-left: calc(-1*var(--padding-h));
    margin-right: calc(-1*var(--padding-h));
    margin-top: calc(-1*var(--padding-v));
    max-width: calc(100% + 2*var(--padding))
  }

  .m-inline-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
  }

  .m-inline-list>* {
    margin: 0
  }

  .m-inline-list>*+:before {
    content: "â€¢";
    margin-left: 1ch;
    margin-right: 1ch
  }

  .m-summary p a:active:after,
  .m-summary p a:focus:after,
  .m-summary p a:hover:after {
    left: .25ch
  }

  .m-post-header {
    color: var(--color-blue);
    position: relative
  }

  .m-post-header>* {
    --flow-gap-self: var(--space-sm)
  }

  .m-post-header h1 a {
    text-decoration: none;
    -webkit-transform: none;
    transform: none
  }

  .m-post-header address {
    display: -webkit-box;
    display: flex;
    font-style: normal
  }

  .m-post-body {
    padding-top: var(--space-md);
    position: relative
  }

  .m-post-body:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: var(--border-width-sm) dotted var(--color-blue)
  }

  .m-post-body img {
    margin-left: auto;
    margin-right: auto;
    max-height: 66.667vh
  }

  .m-post-body iframe {
    border-radius: var(--border-radius-md);
    height: calc(15rem + 20vh)
  }

  .m-post-body h2,
  .m-post-body h3,
  .m-post-body h4,
  .m-post-body h5,
  .m-post-body h6 {
    --flow-gap-self: var(--space-lg);
    color: var(--color-blue)
  }

  .m-contact-teaser {
    text-align: center
  }

  .m-contact-teaser>* {
    margin-left: auto;
    margin-right: auto
  }

  .o-post {
    position: relative
  }

  .o-post>* {
    --flow-gap: var(--space-md)
  }

  .o-post:after {
    content: "";
    background: var(--color-blue);
    border-radius: var(--border-radius-md);
    display: block;
    height: var(--space-xs);
    margin: var(--space-lg) auto 0 auto;
    max-width: 100%;
    width: calc(15% + 5rem)
  }

  .o-site-header {
    --color-link: var(--color-white);
    --color-link-hover: var(--color-orange);
    --color-link-focus: var(--color-orange);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--color-blue-dark);
    box-sizing: border-box;
    -webkit-clip-path: ellipse(100vw 100% at 50% 0);
    clip-path: ellipse(100vw 100% at 50% 0);
    color: var(--color-white);
    letter-spacing: .025ch;
    margin-bottom: 0;
    margin-top: 0;
    padding: var(--space-md) 0;
    width: 100%;
    text-align: center
  }

  .o-site-header__inner {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width-lg);
    padding: 0 var(--space-md)
  }

  .o-site-header__inner>*+* {
    margin-top: var(--space-sm)
  }

  @media (min-width:40em) {
    .o-site-header {
      padding: var(--space-sm) 0 var(--space-md)
    }

    .o-site-header__inner {
      -webkit-box-align: baseline;
      align-items: baseline;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto
    }

    .o-site-header__inner>* {
      --flow-gap: var(--space-sm)
    }

    .o-site-header__inner>*+* {
      margin-left: var(--flow-gap)
    }

    .o-site-header .m-navbar {
      margin-top: 0
    }
  }

  @media only print {
    .o-site-header {
      --color-link: var(--color-black);
      background: none;
      color: var(--color-black);
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
      padding: 0
    }

    .o-site-header__inner {
      padding: 0
    }
  }

  .o-freelance-card h2 {
    -webkit-box-flex: 1;
    flex: 1 1 100%
  }

  .o-freelance-card h3 {
    color: var(--color-blue);
    font: inherit;
    font-variant-caps: small-caps;
    text-align: center;
    text-transform: lowercase
  }

  .o-freelance-card .m-logo-list {
    --flow-gap: 0;
    -webkit-box-pack: start;
    justify-content: start;
    text-align: left
  }

  .o-freelance-card>.l-switcher {
    --flow-gap-block: var(--space-sm)
  }

  .o-freelance-cards>.l-switcher {
    --breakpoint: 58rem
  }

  .o-site-footer {
    --color-link: var(--color-white);
    --color-link-hover: var(--color-orange);
    --color-link-focus: var(--color-orange);
    --svg-alt-color: var(--color-blue-dark);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--color-blue-dark);
    -webkit-clip-path: ellipse(140vw 100% at 50% 100%);
    clip-path: ellipse(140vw 100% at 50% 100%);
    color: var(--color-white);
    letter-spacing: .025ch;
    padding: var(--space-lg) var(--space-md);
    text-align: center;
    width: 100%
  }

  .o-site-footer>* {
    --flow-gap: var(--space-lg);
    margin-left: auto;
    margin-right: auto;
    max-width: -webkit-max-content;
    max-width: max-content
  }

  @media (min-width:45em) {
    .o-site-footer>* {
      --flow-gap: var(--space-sm)
    }
  }

  @media only print {
    .o-site-footer {
      --color-link: var(--color-orange);
      --svg-alt-color: var(--color-white);
      background: none;
      color: var(--color-black);
      -webkit-print-color-adjust: exact;
      color-adjust: exact
    }
  }

  .p-blog-post {
    --content-max-width: var(--content-max-width-sm)
  }

  .d-wide {
    --content-max-width: var(--content-max-width-lg)
  }

  .u-visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
  }

  .u-visually-hidden:first-child+* {
    --flow-gap-self: 0
  }

  .u-text-center {
    text-align: center !important
  }

  .u-reorder-first {
    -webkit-box-ordinal-group: 0 !important;
    order: -1 !important
  }
}

/*# sourceMappingURL=/main.css.map */